.bg.field {
    margin-bottom: 15px;
}

.bg.field .title {
    font-size: 10pt;
    color: #555;
    margin-bottom: 3px;
}

.bg.field input.rounded {
    width: 100%;
    padding: 11px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: 0;
    -webkit-appearance: none;
    transition: border-left-width 0.2s ease;
}

.bg.field select.rounded {
    height: 36px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: border-left-width 0.2s ease;
}

.bg.field input.rounded:focus {
    transition: border-color 0.5s ease;
    transition: border-left-width 0.2s ease;
    border-color: #08f;
    border-left: 5px solid #08f;
}