p, h1, h2, h3, h4, h5, h6, ol, li, ul {
    padding: 0;
    margin: 0;
    color: #555;
    font-family: sans-serif;
    background-color: #f5f5f5;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: #08f;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #08f;
}

.noselect {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.right {
    float: right !important;
}

/*// Viewports //////////////////////////////////////////////*/
@media only screen and (max-width: 620px) {
    .bg.section {
        padding: 0px !important;
    }

    .bg.menu.button {
        display: block;
    }

    .bg.block {
        margin: 0;
    }

    .bg.grid .cell {
        width: 100% !important;
    }

    .bg.header .items {
        width: 100%;
        display: none;
    }

    .bg.header .items .item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 800px) {
    .bg.section {
        padding: 0px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .bg.section {
        padding: 0 5%;
    }
}
