* {
    padding: 0;
    margin: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #555;
}

a {
	color: #08f;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #08f;
}

.noselect {
    -webkit-user-select: none;  
       -moz-user-select: none;    
        -ms-user-select: none;      
            user-select: none;
}

.right {
	float: right !important;
}


/*// Header //////////////////////////////////////////////////*/
.bg.header {
    position: relative;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    color: #0f0f0f;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.bg.header .item {
    position: relative;
    float: left;
    height: 49px;
    margin: 0 10px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #555;
    cursor: pointer;
    background-color: white;
	
	transition: color 0.2s ease;
}

.bg.header .active.item {
	box-shadow: inset 0px -1px 0px 0px #60c;
}

.bg.header .item:hover {
    color: #00a2ff;
}

.bg.header .item:active {
    padding-top: 1px;
}

.bg.header > .logo {
	font-size: 14pt;
}


/*// Section ////////////////////////////////////////////////*/
.bg.section {
	padding: 0 13%;
}


/*// Blocks /////////////////////////////////////////////////*/
.bg.block {
	border-radius: 0px;
	background-color: white;
	padding: 15px 15px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 5px 0px -3px rgba(0, 0, 0, 0.05);
	overflow: auto;
}

.bg.block .title {
	color: #555;
	font-size: 18pt;
	margin-bottom: 15px;
}

.bg.block .content {
	color: #555;
}

.bg.block .content p {
	text-align: justify;
}

.bg.block .content p:not(:first-child) {
	margin-top: 1.2em;
}


/*// Colours /////////////////////////////////////////////////*/
/*- Text   -*/
span.purple {color: #6600cc;}
span.blue {color: #0088ff;}

/*- Normal -*/
.bg.purple {background-color: #6600cc !important;}
.bg.blue {background-color: #0088ff !important;}


/*// Grid ///////////////////////////////////////////////////*/
.bg.grid {
	position: relative;
	float: left;
	width: 100%;
}

.bg.grid .cell {
	float: left;
	padding: 10px;
}

.bg.grid .one.cell 		{width: 6.25%; }
.bg.grid .two.cell 		{width: 12.5%; }
.bg.grid .three.cell 	{width: 18.75%;}
.bg.grid .four.cell 	{width: 25%;   }
.bg.grid .five.cell 	{width: 31.25%;}
.bg.grid .six.cell 		{width: 37.5%; }
.bg.grid .seven.cell 	{width: 43.75%;}
.bg.grid .eight.cell 	{width: 50%;   }
.bg.grid .nine.cell 	{width: 56.25%;}
.bg.grid .ten.cell 		{width: 62.5%; }
.bg.grid .eleven.cell 	{width: 68.75%;}
.bg.grid .twelve.cell 	{width: 75%;   }
.bg.grid .thirteen.cell {width: 81.25%;}
.bg.grid .fourteen.cell {width: 87.5%; }
.bg.grid .fifteen.cell 	{width: 93.75%;}
.bg.grid .sixteen.cell 	{width: 100%;  }


/*// Form ///////////////////////////////////////////////////*/
.bg.field {
	margin-bottom: 15px;
}

.bg.field .title {
	font-size: 10pt;
	color: #555;
	margin-bottom: 3px;
}

.bg.field input.rounded {
	height: 25px;
	width: 100%;
	padding: 18px 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	outline: 0;
	-webkit-appearance: none;
	
	transition: border-left-width 0.2s ease;
}

.bg.field input.rounded:focus {
	transition: border-color 0.5s ease;
	transition: border-left-width 0.2s ease;
	border-color: #08f;
	border-left: 5px solid #08f;
}


/*// Buttons ////////////////////////////////////////////////*/
.bg.button {
	position: relative;
	float: left;
	height: 40px;
	line-height: 38px;
	padding: 0 10px;
	background-color: #fff;
	font-size: 12pt;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0px 4px 1px -3px rgba(0, 0, 0, 0.2);
	cursor: pointer;

	-webkit-user-select: none;  
       -moz-user-select: none;    
        -ms-user-select: none;
             user-select: none;
			 
	-webkit-appearance: none;
	outline: none;
	
	transition: box-shadow 0.4s ease;
}

.bg.button:hover {
	box-shadow: 0px 4px 1px -3px rgba(0, 0, 0, 0.4);
}

.bg.button:active {
	margin-top: 1px;
	height: 39px;
	box-shadow: inset 0px 3px 1px -1px rgba(0, 0, 0, 0.2), 0px 3px 1px -3px rgba(0, 0, 0, 0.2);
}

.bg.blue.button, .bg.purple.button {color: white;}

.bg.button.fluid {
	text-align: center;
	width: 100%;
}

.bg.menu.button {
	position: relative;
	display: none;
	float: right;
	margin: 6px;
	width: 48px;
	height: 38px;
	line-height: 38px;
	text-align: center;
 	border-radius: 2px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/*/ Colored buttons /*/
.bg.blue.button:hover {
	background: #0088ff !important;
}

/*// Viewports //////////////////////////////////////////////*/
@media only screen and (max-width: 620px) {
	.bg.section {
		padding: 0px !important;
	}

	.bg.menu.button {
		display: block;
	}

	.bg.block {
		margin: 0;
	}

	.bg.grid .cell {
		width: 100% !important;
	}

	.bg.header .items {
		width: 100%;
		display: none;
	}

	.bg.header .items .item {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 800px) {
	.bg.section {
		padding: 0px !important;
	}
}

@media only screen and (max-width: 1000px) {
	.bg.section {
		padding: 0 5%;
	}
}
